html,
.background {
    height: 100%;
    margin: 0;
    padding: 0;
}
 .background-home {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to top, #4F6072, #8699AA);
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-result {
   font-family: 'Roboto', sans-serif;
   background: #8699AA;
   /*display: flex;
   justify-content: center;
   align-items: center;*/
}

.button-color {
    background-color: white;
}
